<!doctype html>
<!--
	The7 by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>The7 Free HTML5 Responsive Template | Template Stock</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/simplegrid.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/lightcase.css">
        <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="js/owl-carousel/owl.theme.css" />
        <link rel="stylesheet" href="js/owl-carousel/owl.transitions.css" />
        <link rel="stylesheet" href="style.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
           <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
           <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
             <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <![endif]-->
        </head>
        <body id="home">
            <!-- Header -->
            <header id="top-header" class="header-home">
                <div class="grid">
                    <div class="col-1-1">
                        <div class="content">
                            <div class="logo-wrap">
                                <a href=" " class="logo">EF</a>
                            </div>
                            <nav class="navigation">
                                <input type="checkbox" id="nav-button">
                                <label for="nav-button" onclick></label>
                                <ul class="nav-container">
                                    <li><a href="#home" class="current">소개</a></li>
                                    <li><a href="#services">상품안내</a></li>
                                    <li><a href="#work">주요고객사</a></li>
                                    <li><a href="#blog">고객센터</a></li>
                                    <li><a href="#pricing">장례정보</a></li>
                            
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Parallax Section -->
            <div class="parallax-section parallax1">
                <div class="grid grid-pad">
                    <div class="col-1-1">
                         <div class="content content-header" >
                            <h2>국제이앤에프</h2>
                            <p>다년간 상조의전팀장 경력을 보유한 장례인력들과 함께</p>
                            <p>고객사의 의전행사 대행을 신뢰와 책임을 바탕으로 운영하고 있습니다</p>
                            <a target="_blank" class="btn btn-ghost" href="#">Find Out More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Parallax Section -->

            <!-- CurveUp -->
            <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
            </svg>

            <!-- Services Section -->
            <div class="wrap services-wrap" id="services">
                <section class="grid grid-pad services">
                    <h2>"정성을담아 책임과 신뢰를 다해"</h2>
                    
                    <div class="col-1-3 service-box service-3">
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon icon-display"></i>
                            </div>
                            <div class="service-entry">
                                <h3>투명경영을 기반으로</h3>
                                <p>합리적인 비용 및 고품격 서비스 제공</p>
                                <a class="btn read-more" href="more">더보기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-3 service-box service-4" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon icon-user6"></i>
                            </div>
                            <div class="service-entry">
                                <h3>장례지원(상조)서비스</h3>
                                <p>토탈서비스 제공으로 고객사 편리성 제고</p>
                                <a class="btn read-more" href="more">더보기</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-3 service-box service-1" >
                      <div class="content">
                          <div class="service-icon">
                              <i class="circle-icon icon-heart4"></i>
                          </div>
                          <div class="service-entry">
                              <h3>고객사 회원 감동 실현</h3>
                              <p>행사가 감동으로 추가구좌 가입기반 마련</p>
                              <a class="btn read-more" href="more">더보기</a>
                          </div>
                      </div>
                  </div>
             
                </section>
            </div>
            <!-- End Services Section -->
            
       

                <!-- Footer -->
                <footer class="wrap">
                    <div class="grid grid-pad" >
                        <div class="col-1-3">
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>사업분야</h3>
                                    <p>장례지도서비스</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>사업자번호</h3>
                                    <p>301-31-41719</p>
                                    <p>대포이사 김 소 영</p>
                                      
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>본사</h3>
                                    <div class="textwidget">
                                        <p>충북 청주시 서원구 구룡산로 372번길5 302호</p>
                                        <br>
   
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="social-footer">
                        <div class="grid grid-pad">
                            <div class="col-1-1" >
                                <div class="content">
                                
                                    <p class="source-org copyright">© 2013 | All Rights Reserved Created By kwon</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

                <div class="loader-overlay">
                    <div class="loader">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>

                <!-- JS -->
                <script src="js/jquery.js"></script>
                <script src="js/main.js"></script>
                <script src="js/mixitup.js"></script>
                <script src="js/smoothscroll.js"></script>
                <script src="js/jquery.nav.js"></script>
                <script src="js/owl-carousel/owl.carousel.min.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
                <script src="js/jquery.counterup.min.js"></script>
                <script src="js/lightcase.min.js"></script>
            </body>
        </html>